{% extends 'layouts/base.html' %}

{% block content %}
<div class="row pt-5">
    <div class="col-2"></div>
<div class="col-8">

<div class="card" style="width: 30rem;">
        <div class="card-body">
            <form method = "POST" action = "">
                {% csrf_token %}
                <div class="form-group">
                    <!-- <label for="InputUrl">Enter url to shorten it</label>
                        <input name = 'url' type="url" class="form-control" id="url" aria-describedby="urlHelp" placeholder="It is should be starting with 'https://' or 'http://'"> -->
                        <h5>Enter URL</h5>
                        {{form.url}}
                        <div class="bd-clipboard"><button type="button" class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button></div>
                    </div>
                    {{form.errors}}
                    <button type="submit" class="btn btn-primary">get shortened url</button>
                </form>
            </div>
        </div>
    </div>
</div>
        
<!-- <form method = 'POST'>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter url to shorten it</label>
        <input name = 'url' type="url" class="form-control" id="url" aria-describedby="urlHelp" placeholder="Url">
    </div>
    <button type="submit" class="btn btn-primary">get shortened url</button>
</form> -->

{% endblock %}